body{
  background: #3d3230;
}
.parent {
  background:	#ffefd5;
  display: flex;
  display:25%;
  justify-content: space-around;
}
.child1 {
  background: #800000;
  display:75;
  padding: 5%;
  margin: 2%;
  text-align: center;
box-shadow: 5px 5px 5px orange;
width: 25%;

 }
 .child2 {
   background:yellow;
   margin:1%;
   padding:15%;
  box-shadow: 5px 5px 5px orange;
   margin: 6%;
   text-align:center;
 }
 image{
   width: 90%;
   table-layout: {
     border:1px
   }

 }
